<!DOCTYPE html>
<html lang='es' style='height: 100%;'>
  <head>
      <title>Información sobre el COVID</title>
      {% load static %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
      <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </head>
  <body class="blue lighten-5">

      <nav>
          <div style="background-color: #DF2935" class="nav-wrapper">
            <a href="#" class="brand-logo center">Informacion COVID-19</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="{% url 'index' %}">Listas</a></li>
              <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
          </div>
      </nav>


      <div class="container">
          {% block container %}
          {% endblock %}
      </div>
  </body>
</html>