{% include 'base.html' %}
{% load static %}

{% block container %}
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/img1.png' %}">
                <span style="color: black;" class="card-title">Información sobre {{nombrefactor}}</span>
            </div>
            <div class="card-content">
                <p>{{detalle}}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'index' %}">Regresar a la lista</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}